<h2>Update Event Below:</h2>
<%=@error%>
<form action='/events/<%=@event.id%>/update' method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="Text" name="time"  value="<%=@event.time%>">
  <input type="Text" name="location" value="<%=@event.location%>">
  <input type="Text" name="description" value="<%=@event.description%>">
  <input type="date" id="start" name="date"
       value="<%=@event.date%>"
       min="2018-01-01" max="2035-12-31">
       <input type="submit" value="Submit">
  
</form>
Delete Event
<form method="post" action="/events/<%= @event.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>



