<%#binding.pry%>
<a href='/show/edit'><button>Update Username and Password</button></a>


Hi <%= @user.name %> 

View Run List
<a href='/show/runs'><button>Run List</button></a>

would you like to add a new run to your runs list ?
<%=@errors%>
<form method="POST" action="/run/add">
  New Run 
  <input type="text" name="time" placeholder="time">
  <input type="text" name="location" placeholder="location">
  <input type="text" name="miles" placeholder="miles">
  <input type="date" id="start" name="run_date"
       placeholder="2018-07-22"
       min="2018-01-01" max="2018-12-31">
       <input type="submit" value="Submit">
</form>


Create an event for others to join 
<a href='/events/home'><button>events list</button></a>
<%= @errorss %>
<form method="POST" action="/events/new">
  New Event
  <input type="text" name="time" placeholder="time">
  <input type="text" name="location" placeholder="location">
  <input type="text" name="description" placeholder="description">
  <input type="date" id="start" name="date"
       placeholder="2018-07-22"
       min="2018-01-01" max="2018-12-31">
       <input type="submit" value="Submit">
</form>

<%@events.each do |t|%>
Time:<%=t.time%><br>
Location:<%=t.location%><br>
Description:<%=t.description%><br>
Date:<%=t.date%><br>
People Attending: <%hello = Rsvp.where(:event_id => t.id)%>
                  <%= hello.count%><br>
<%=@error%>
<a href = '/events/<%=t.id%>/update'><button>Update</button></a></a>
<%=@error1%>
<form method="post" action="/events/<%= t.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
<%if session[:user_id] != Rsvp.find_by(:event_id => t.id).user_id%>
<form method="post" action="/events/<%= t.id %>/remove">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="remove">
</form>
<%end%>

<%end%>
