<%#binding.pry%>
<a href='/show/edit'><button>Update Username and Password</button></a><br>
<br>


<h1> Hi <%= current_user.name %>!! </h1><br>



<h3>Would you like to add a new run to your runs list ?</h3><br>

<%=@errors%>
<form method="POST" action="/runs">
  New Run 
  <input type="text" name="time" placeholder="time in Min.">
  <input type="text" name="location" placeholder="location">
  <input type="text" name="miles" placeholder="miles">
  <input type="date" id="start" name="run_date"
       placeholder="2020-07-22"
       min="2019-01-01" max="2035-12-31">
       <input type="submit" value="Submit">
</form>


<h3>Create an event for others to join</h3> <br>
<ul>
<% @errorss&.each do |e| %>
<li><%= e %></li>
<% end %>
</ul>
<form method="POST" action="/events">
  New Event
  <input type="text" name="time" placeholder="time ex. 3pm">
  <input type="text" name="location" placeholder="location">
  <input type="text" name="description" placeholder="description">
  <input type="date" id="start" name="date"
       placeholder="2019-07-22"
       min="2018-01-01" max="2035-12-31">
       <input type="submit" value="Submit">
</form>
<br>

<center> <h2>Events List</h2><br>
<%current_user.events.each.with_index(1) do |e, i|%>
<h4><%=i%></h4>

Time: <%=e.time%><br>
Location: <%=e.location%><br>
Description: <%=e.description%><br>
Date: <%=e.date%><br>
People Attending: <%= e.users.count %>
<%=@error%>
<%if current_user == Rsvp.find_by(event: e).user %>
<a href = '/events/<%=e.id%>/update'><button>Update</button></a></a>

<%=@error1%>

<form method="post" action="/events/<%= e.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form><br>
You created this event! Better Show Up<br>
<%else %>
<form method="post" action="/events/<%= e.id %>/remove">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="remove">
</form><br>
<%end%>
==================================
<%end%>
</center>
