<h1>Welcome to the events the events you can join!! </h1>

<%= @error %>
<%@event.each.with_index(1) do |e, i|%>
  <h2><%=i%></h2>
  Date: <%=e.date%><br>
  Time: <%=e.time%><br>
  Location: <%=e.location%><br>
  Description: <%=e.description%><br>
  People Attending: <%= e.rsvps.count %>
  <%if current_user.not_rsvp?(e) %> 
    <form method="POST" action="/events/<%=e.id%>/join">
      <input type="submit" value="Join">
    </form>
  <%else%>
    You are already attending this Event<br>
  <%end%>
====================
<%end%>


